
    <%= simple_form_for @profile, html: {class: "form-group" } do |f| %>
    <%= f.input :username, label: "Select A username" %>
    <%= f.input :description, label: "Tell People about Yourself" %>
    <%= f.input :role, label: "Whats your current Role?"%>
    <%= f.label  "Upload A Profile Pic:"%>
    <%= f.file_field :image, label: "Upload Your Profile Image" %>
    <div class="profiles-con">
    <%= f.label  "What Are your Skills:"%>
    <%= f.collection_check_boxes :skill_ids, Skill.all, :id, :name, { include_hidden: false }, :style => "margin: 10px;"%>
    </div>
    <%= f.button :submit, class: "btn btn-dark" %>
    <% end %>

