<div class="container emp-profile">
             <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                           <% if @profile.image.attached?%>
                                <%= image_tag @profile.image %>    
                            <%else%>
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                            <%end%>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5 class="page-header">
                                        <%= @profile.username %>
                                    </h5>
                                    <h6>
                                        <%= @profile.role %>
                                    </h6>
                        </div>
                    </div>
                    <div class="col-md-2">
                    <% if user_signed_in? %>
                        <%if current_user.profile.id == @profile.id %>
                        <%= link_to 'Edit Your Profile', edit_profile_path, class: "btn btn-dark" %>
                        <%end%>
                    <%end%>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>SKILLS</p>
                            <% @profile.skills.each do |skill| %>
                            <p><%= skill.name %></p>
                            <% end %>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <p> <%= @profile.description%>
                                        </div>
                            </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>         
</div>