<div class="comment">
    <p class="comment-content"><%= comment.content %></p>
    <p class="comment-posted-by">By: <%= comment.profile.username %> <%= time_ago_in_words(comment.created_at)%></p>
    <p><%= link_to 'Edit', edit_post_comment_path(comment.post, comment) %> | <%= link_to 'Delete', post_comment_path(comment.post, comment), method: :delete, data: {confirm: "Are You Sure?"} %> </p>
</div>