<!DOCTYPE html>
<html>
  <head>
    <title>DevconnectRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
             <% if user_signed_in? %>
                <li class="nav-item">
                    <%= link_to 'DevChat', posts_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Ask A Question?', new_post_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Find A Dev', profiles_path, class: "nav-link" %>
                </li>
             <%else%>
              <li class="nav-item">
                    <%= link_to 'DevChat', posts_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Find A Dev', profiles_path, class: "nav-link" %>
                </li>
             <%end%>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <%= link_to 'DevConnect', root_path, class: "navbar-brand mx-auto" %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
               <% if user_signed_in? %>
                <li class="nav-item">
                    <%= link_to 'Account Settings', edit_user_registration_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>

               <% else %>
                <li class="nav-item">
                    <%= link_to 'Log In', new_user_session_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
                </li>
               <%end %>
            </ul>
        </div>
      </div>
    </nav>
  <div class=container>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  </body>
</html>
